# Database Configuration (provide your own details)
POSTGRES_DB=your_db_name
POSTGRES_DB_PORT=5432
POSTGRES_USER=your_db_username
POSTGRES_PASSWORD=your_password_here
POSTGRES_HOST=your_host_address

# Django Settings
SECRET_KEY=your_secret_key_here
DJANGO_SETTINGS_MODULE=newspaper_agency.settings.prod